[Desktop Entry]
Type=Application
Version=1.0
Name=Plusly
Comment=Matrix Client. Chat with your friends
Exec=plusly %u
Icon=plusly
Terminal=false
Categories=Network;Chat;InstantMessaging;X-Matrix;
MimeType=x-scheme-handler/matrix;
StartupWMClass=plusly
