[Desktop Entry]
Type=Application
Version=1.0
Name=Extera Next
Comment=Matrix Client. Chat with your friends
Exec=extera-next %u
Icon=extera
Terminal=false
Categories=Network;Chat;InstantMessaging;X-Matrix;
MimeType=x-scheme-handler/matrix;
StartupWMClass=extera_next
