pkgbase = extera-next-git
	pkgdesc = Matrix client - Chat with your friends (fork of FluffyChat)
	pkgver = 26.0.8
	pkgrel = 1
	url = https://github.com/ExteraApp/Extera
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = flutter
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = clang
	makedepends = pkgconf
	makedepends = curl
	makedepends = rust
	makedepends = cargo
	depends = libkeybinder3
	depends = gtk3
	depends = libsecret
	depends = jsoncpp
	depends = openssl
	depends = libpciaccess
	provides = extera-next
	conflicts = extera-next
	source = extera-next-git::git+https://github.com/ExteraApp/Extera.git
	sha256sums = SKIP

pkgname = extera-next-git
